extends layout

block content
  #index
    svg(xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 170 53' height='53' width='170')
      rect(fill='#FF5E00' rx='4' height='53' width='67.9402')
      path(fill='white' d='M16.9073 42.8452V31.1763H12.5428V46.7645H22.452V42.8452H16.9073Z')
      path(fill='white' d='M28.648 43.0456V40.7074H33.7696V37.1889H28.648V34.8952H34.3486V31.1763H24.3726V46.7645H34.549V43.0456H28.648Z')
      path(fill='white' d='M47.3393 46.7645H52.0823L45.8251 31.1763H41.6164L35.4928 46.7645H40.1022L40.9707 44.2481H46.4931L47.3393 46.7645ZM45.4465 40.8855H42.0173L43.7096 36.0532L45.4465 40.8855Z')
      path(fill='white' d='M59.8792 31.1763H53.5774V46.7645H59.8792C64.6 46.7645 67.9402 43.5132 67.9402 38.9704C67.9402 34.4053 64.6 31.1763 59.8792 31.1763ZM59.6788 42.8452H57.8974V35.1179H59.6788C61.9947 35.1179 63.5311 36.6544 63.5311 38.9704C63.5311 41.2641 61.9947 42.8452 59.6788 42.8452Z')
      path(fill='#FF5E00' d='M80.9499 44.8242C82.2522 44.8242 83.2692 44.5769 84.0009 44.0822C84.7472 43.573 85.1203 42.8528 85.1203 41.9217C85.1203 41.267 84.9521 40.7286 84.6155 40.3067C84.2789 39.8848 83.8326 39.5793 83.2766 39.3901C82.7351 39.201 82.1352 39.041 81.4767 38.91C80.8328 38.7791 80.1816 38.6336 79.5231 38.4736C78.8646 38.3135 78.2573 38.1026 77.7013 37.8407C77.1598 37.5788 76.7208 37.1714 76.3843 36.6186C76.0477 36.0511 75.8794 35.3455 75.8794 34.5017C75.8794 33.3086 76.355 32.2829 77.3062 31.4246C78.2573 30.5662 79.5597 30.137 81.2133 30.137C82.8961 30.137 84.2058 30.6025 85.1423 31.5337C86.0788 32.4648 86.5617 33.6724 86.591 35.1564H85.0325C85.0033 34.0797 84.6448 33.2141 83.957 32.5594C83.2839 31.9047 82.3766 31.5773 81.2352 31.5773C80.0645 31.5773 79.1427 31.8392 78.4695 32.363C77.811 32.8722 77.4818 33.5633 77.4818 34.4362C77.4818 35.0473 77.6501 35.5492 77.9866 35.942C78.3378 36.3203 78.7841 36.604 79.3256 36.7931C79.867 36.9823 80.467 37.1423 81.1255 37.2733C81.784 37.3896 82.4425 37.5424 83.101 37.7316C83.7594 37.9061 84.3594 38.1316 84.9008 38.4081C85.4423 38.6845 85.8813 39.1137 86.2178 39.6957C86.569 40.2631 86.7446 40.9687 86.7446 41.8126C86.7446 43.1511 86.2032 44.2277 85.1203 45.0424C84.0521 45.8572 82.6473 46.2646 80.906 46.2646C79.0183 46.2646 77.5915 45.799 76.6257 44.8678C75.6599 43.9222 75.1478 42.7219 75.0892 41.267H76.6696C76.7574 42.4163 77.1818 43.2966 77.9427 43.9076C78.7037 44.5187 79.706 44.8242 80.9499 44.8242Z')
      path(fill='#FF5E00' d='M91.35 44.0167C89.9452 42.4891 89.2428 40.5541 89.2428 38.2117C89.2428 35.8693 89.9452 33.9415 91.35 32.4284C92.7694 30.9008 94.6352 30.137 96.9472 30.137C98.8496 30.137 100.459 30.6607 101.776 31.7083C103.093 32.7558 103.935 34.1598 104.3 35.9202H102.61C102.303 34.6108 101.637 33.5705 100.613 32.7994C99.5885 32.0283 98.3667 31.6428 96.9472 31.6428C95.1327 31.6428 93.6694 32.2466 92.5572 33.4541C91.4598 34.6617 90.911 36.2476 90.911 38.2117C90.911 40.1758 91.4598 41.7616 92.5572 42.9692C93.6694 44.1768 95.1327 44.7806 96.9472 44.7806C98.3667 44.7806 99.5885 44.395 100.613 43.6239C101.637 42.8528 102.303 41.8126 102.61 40.5031H104.3C103.935 42.2636 103.093 43.6676 101.776 44.7151C100.459 45.7626 98.8496 46.2864 96.9472 46.2864C94.6352 46.2864 92.7694 45.5298 91.35 44.0167Z')
      path(fill='#FF5E00' d='M119.781 30.4643V45.959H118.178V38.8446H109.069V45.959H107.467V30.4643H109.069V37.3387H118.178V30.4643H119.781Z')
      path(fill='#FF5E00' d='M126.6 33.476C125.415 34.6981 124.822 36.2766 124.822 38.2117C124.822 40.1467 125.415 41.7253 126.6 42.9474C127.785 44.1695 129.285 44.7806 131.1 44.7806C132.914 44.7806 134.414 44.1695 135.599 42.9474C136.785 41.7253 137.377 40.1467 137.377 38.2117C137.377 36.2766 136.785 34.6981 135.599 33.476C134.414 32.2538 132.914 31.6428 131.1 31.6428C129.285 31.6428 127.785 32.2538 126.6 33.476ZM136.829 32.4503C138.306 33.9925 139.045 35.9129 139.045 38.2117C139.045 40.5104 138.306 42.4309 136.829 43.9731C135.365 45.5153 133.456 46.2864 131.1 46.2864C128.744 46.2864 126.827 45.5153 125.349 43.9731C123.885 42.4309 123.154 40.5104 123.154 38.2117C123.154 35.9129 123.885 33.9925 125.349 32.4503C126.827 30.9081 128.744 30.137 131.1 30.137C133.456 30.137 135.365 30.9081 136.829 32.4503Z')
      path(fill='#FF5E00' d='M144.777 33.476C143.592 34.6981 142.999 36.2766 142.999 38.2117C142.999 40.1467 143.592 41.7253 144.777 42.9474C145.962 44.1695 147.462 44.7806 149.277 44.7806C151.091 44.7806 152.591 44.1695 153.777 42.9474C154.962 41.7253 155.555 40.1467 155.555 38.2117C155.555 36.2766 154.962 34.6981 153.777 33.476C152.591 32.2538 151.091 31.6428 149.277 31.6428C147.462 31.6428 145.962 32.2538 144.777 33.476ZM155.006 32.4503C156.484 33.9925 157.223 35.9129 157.223 38.2117C157.223 40.5104 156.484 42.4309 155.006 43.9731C153.542 45.5153 151.633 46.2864 149.277 46.2864C146.921 46.2864 145.004 45.5153 143.526 43.9731C142.063 42.4309 141.331 40.5104 141.331 38.2117C141.331 35.9129 142.063 33.9925 143.526 32.4503C145.004 30.9081 146.921 30.137 149.277 30.137C151.633 30.137 153.542 30.9081 155.006 32.4503Z')
      path(fill='#FF5E00' d='M170 44.4532V45.959H160.584V30.4643H162.186V44.4532H170Z')
    h1 Looking for something?
    p We're sorry. The web address you entered is not a functioning page on our site.

  link(rel='stylesheet' href='css/error.css' type='text/css')

