#login-page {
    width: 100%;
}

#login-page .card {
    margin            : 15vh auto;
    /* box-shadow     : 0px 0px 0.1rem #8a8a8a; */
    padding           : 3rem 2rem;
    display           : flex;
    justify-content   : center;
    align-items       : center;
    flex-direction    : column;
    max-width         : 30rem;
}

#login-page .title {
    font-weight  : 500;
    padding      : 1rem 0;
    text-align   : center;
    color        : rgba(0, 0, 0, 0.85);
    overflow-wrap: break-word;
}

#login-page input::-webkit-outer-spin-button,
#login-page input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin            : 0;
}

#login-page form {
    width      : 80%;
    padding-top: 1rem;
}

#login-page .form-field-container {
    margin: 0 0 8px 0;
}

#login-page .form-field {
    width        : 100%;
    padding      : 0 0.5rem;
    line-height  : 2.2rem;
    border-radius: 5px;
    border       : 1px solid #afafaf;
    box-sizing   : border-box;
}

#login-page .form-field-error, .error-reason {
    color      : #ff4d4f;
    clear      : both;
    min-height : 1.5rem;
    font-size  : 0.8rem;
    line-height: 1.5715;
    transition : color 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
    padding-top: 0px;
}

#login-page .btn {
    border        : none;
    width         : 100%;
    height        : 2rem;
    line-height   : 2rem;
    text-transform: uppercase;
    font-weight   : 600;
    font-size     : 0.9rem;
    padding       : 0 1rem;
    border-radius : 0.5rem;
    color         : #ffffff;
    box-sizing    : border-box;
    margin        : 0.5rem 0;
    border-color  : #fc8b4c;
    text-shadow   : 0 -1px 0 rgb(0 0 0 / 12%);
    box-shadow    : 0 2px 0 rgb(0 0 0 / 5%);
}

#login-page .login {
    background: #fc8b4c;
}

#login-page .login:hover {
    background: #ff6e2b;
}

#login-page .cancel {
    background: #ffbc9d;
}

#login-page .cancel:hover {
    background: #ff9a6c;
}