body {
  padding    : 0;
  margin     : 0;
  top        : 0;
  left       : 0;
  font-size  : 16px;
  font-family: Arial, Helvetica, sans-serif;
  height     : 100vh;
  width      : 100vw;
}

.hidden {
  visibility: hidden;
}